<ion-header>

  <ion-navbar>
    <ion-title>{{discussion?.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let post of discussion?.posts; index as idx">
    <ion-card [class.answers]="idx == -1">
      <ion-card-header text-capitalize>
        <ion-card-title>
          {{post.subject}}
          <p>{{post.modified}}, {{post.username?.firstname}}</p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content text-justify>
        {{post.message}}
        <!--<button ion-button *ngIf="idx == 0">Answer</button>-->
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="newAnswer()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
