<ion-header>

  <ion-navbar>
    <ion-title>{{post?.subject}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <ion-card>
      <ion-card-header text-capitalize>
        <ion-card-title class="line-break">
          {{post.subject}}
          <p>{{post.modified}}, {{post.username?.firstname}}</p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content no-padding class="post-message">
        <p text-justify>{{post.message}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngFor="let answer of answers; index as idx">
    <ion-card>
      <ion-card-header text-capitalize>
        <ion-card-title class="line-break">
          <ion-buttons end class="answer-popover">
            <button end detail-none ion-button icon-only (click)="presentPopover($event, answer)">
              <ion-icon color="dark" name="more"></ion-icon>
            </button>
          </ion-buttons>
          {{answer.subject}}
          <p>{{answer.modified}}, {{answer.username?.firstname}}</p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content no-padding class="post-message">
        <button ion-item text-wrap text-justify *ngIf="answer.qtt_answers > 0" (click)="getAnswer(answer)">
          {{answer.message}}
          <ion-icon item-end color="primary" name="arrow-dropright"></ion-icon>
        </button>
        <p text-justify *ngIf="answer.qtt_answers == 0">{{answer.message}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="newPost()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
